.button {
  font-size: 1rem;
  font-family: var(--type-first);
  min-width: 8rem;
  padding: .8rem 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: .4rem;
  color: #764701;
  background: #FB1;
  box-sizing: border-box;
  transition: .3s;
}

.button:hover,
.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #FEA, 0 0 0 4px #FB1;
}

button:disabled {
  opacity: .5;
  cursor: wait;
}